include ../../partials/breadcrumbs.jade
include ../../partials/masthead.jade
include ../../partials/image-gallery.jade
include ../../partials/breakout-image.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/events", title: "Events"}, {link: "/events/host-event", title: "Host Event"})

+masthead-1("Host Your Event at WeWork", "Our vibrant, thoughtfully-designed spaces are fully equipped and ready to book for your next public or private gathering. You don't have to be a WeWork member to get in on these fresh venues -- but after you use them, you just might want to be.", "https://cdn.wework.com/6vy33zo2mgy3/3ftLyhI1jW8m0ke0EAOWc8/5e93a4bad90e17c3b3731eac14134fec/rsz_img_9100.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=2000&h=500", "WeWork Times Square", "New York City, New York")

+image-gallery("Private Events", "Planning a private event? Whether it's a full-day conference, influencer workshop, networking happy hour, or even a birthday celebration, when you host it in one of WeWork's sleek private spaces, you'll impress your guests well before the welcome speech.", "https://cdn.wework.com/6vy33zo2mgy3/41xiTe5E6cKyycCmOS2GIk/1ead06a856ffa7b6beccb0407a11f485/BryantPark.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=500&h=500", "Bryant Park, 54 W 40th St New York, 100 - 135 Capacity", "https://cdn.wework.com/6vy33zo2mgy3/3rVd7oNGkoCoiaO4YgucYW/e9d4c49713ac5d021c1102c97b8bf482/Soho.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=500&h=500", "Soho, 154 Grand Street, New York, 100 - 125 Capacity")

+breakout-image("Community Events", "From panel discussions and product launches to mixers that encourage mingling, our common areas are just the spot for hosting community events for our members. Both members and non-members alike are welcome to inquire!", "", "", "https://cdn.wework.com/6vy33zo2mgy3/59MqDdVQwE6w8C60WaWO8o/c6c84dcb4e398d5e0122c9871e4df264/20170405_Mass_Appeal_Office-20.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=1000&h=500", "Mass Appeal HQ", "New York City, New York")

.form-container-outer(style="background-image: url('https://images.contentful.com/6vy33zo2mgy3/7gnjeDnnlCIWAgk2Q2OsG/ec37c974f27ca78001efbe97ef348b77/Paris_Lafayette.jpg')")
	.content-wrap
		.row
			.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				.form-container-inner
					.row
						.col-xs-12
							h2.title-2 Book a Beautiful Space
							p.copy-2 Got an event in mind? Tell us about it.

					.row
						.col-xs-12.col-md-6
							label(for="name") Name *
								input(type="text" id="name" name="name" placeholder="Your full name")

						.col-xs-12.col-md-6
							label(for="email") Email *
								input(type="email" id="email" name="email" placeholder="Best email to contact you")

					.row
						.col-xs-12.col-md-6
							label(for="company-name") Company *
								input(type="text" id="company-name" name="company-name" placeholder="Your company name")

						.col-xs-12.col-md-6
							label Does your company have a private WeWork office? *
								label.label--radio-checkbox(for='member-yes') Yes
									input#member-yes(type='radio', name='member', value='member-yes')
								label.label--radio-checkbox(for='member-no') No
									input#member-no(type='radio', name='member', value='member-no')

					.row
						.col-xs-12
							h3.title-3 Event Information

					.row
						.col-xs-12.col-md-6
							label.label--date(for="date") Date
								input(type="date" id="date" name="date" placeholder="Date of the event")
								i.bi_interface-calendar

						.col-xs-12.col-md-6
							label(for="time") Time
								input(type="text" id="time" name="time" placeholder="Time of the event")

					.row
						.col-xs-12.col-md-6
							label Is your date/time flexible?
								label.label--radio-checkbox(for='flexible-yes') Yes
									input#member-yes(type='radio', name='flexible', value='flexible-yes')
								label.label--radio-checkbox(for='member-no') No
									input#member-no(type='radio', name='flexible', value='flexible-no')

						.col-xs-12.col-md-6
							label(for="guests") Number of Guests
								input(type="text" id="guests" name="guests" placeholder="Expected number of guests")

					.row
						.col-xs-12.col-md-6
							label(for="city") City
								input(type="text" id="city" name="city" placeholder="City")

						.col-xs-12.col-md-6
							label.label--dropdown(for="type") Event Type
								select(id="type" name="type")
									option Please select...
									option(value="Corporate") Corporate
									option(value="Social") Social
									option(value="Other") Other
								i.bi_interface-bottom

					.row
						.col-xs-12.col-md-6
							label Is your event open to WeWork members?
								label.label--radio-checkbox(for='open-yes') Yes
									input#member-yes(type='radio', name='open', value='open-yes')
								label.label--radio-checkbox(for='member-no') No
									input#member-no(type='radio', name='open', value='open-no')

					.row
						.col-xs-12
							label(for="notes") Additional Notes
								textarea(id="notes" name="notes" placeholder="Anything else we should know? Amentity spaces, AV needs, meeting rooms...")

					.row
						.col-xs-12
							button.btn.btn--primary-action Submit Event Enquiry