include ../../partials/breadcrumbs.jade
include ../../partials/case-study.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/case-studies", title: "Case Studies"})

.content-wrap
	.responsive-block
		h2.title-1 Case Studies
		.row
			.col-xs-12.col-sm-6.col-md-4.col-lg-3
				+case-study("https://assets.onestore.ms/cdnfiles/external/uhf/long/9a49a7e9d8e881327e81b9eb43dabc01de70a9bb/images/microsoft-gray.png", "My favorite thing about WeWork is the easy access to facilities and network of peers (online and at each location) who I can help or get help from!", "https://cdn.wework.com/6vy33zo2mgy3/6yHsYX685UIyAa20Cuaiso/61bb26d9f32a3d627b843011dff832d6/347af4756c9492b5105fc62bb57d5837c16482ea.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=200&h=200", "Ramon Ray", "Entrepreneur & Global Speaker", "/")
			.col-xs-12.col-sm-6.col-md-4.col-lg-3
				+case-study("https://www-03.ibm.com/press/us/en/attachment/20190.wss?fileId=ATTACH_FILE2&fileName=ibmpos_blue.jpg", "I've scaled my organization, hosted successful events, and most importantly met lifelong friends all within the WeWork ecosystem.", "https://cdn.wework.com/6vy33zo2mgy3/2VlLcz61WoeuooiuUQoKO4/79f124efe5eb4664e37bf03f0127f5c5/584aca1a1f0095e616a944f5d809e966befeb20b.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=200&h=200", "Saeed Jabbar", "Founder of Inclusion", "/")
			.col-xs-12.col-sm-6.col-md-4.col-lg-3
				+case-study("http://business.nasdaq.com/media/Nasdaqlogo_homepage_tcm5044-15630.png", "The most important thing is that all of the community has embedded a standard of trust. You breathe trust, and for developing business, it's a great plus!", "https://cdn.wework.com/6vy33zo2mgy3/1Pz5yaTfa0w64cGaskQGiu/47a3168b60cc3b1b22a30aa956dc46d2/eab5064fe16f031ecff614a3bbee6e41518b538a.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=200&h=200", "Fabricio González Antuña", "CEO of Dynamia", "/")
			.col-xs-12.col-sm-6.col-md-4.col-lg-3
				+case-study("http://pluspng.com/img-png/airbnb-logo-png-is-airbnb-safe-what-the-homestay-app-does-to-make-hosts-and-guests-secure-in-their-use-780.png", "There's something empowering about working in a space where you are encouraged to create brilliant ideas that disrupt culture followed by the support of a team of people who want you to win.", "https://cdn.wework.com/6vy33zo2mgy3/7vOxHCxsBiGew8k4GGyIkC/38c1cdb7e6a42f84c82954e9beedac44/9b63722e548be0b72139fa68d62c63a837a6cdb0.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=200&h=200", "Rachel D. Wilson", "Entrepreneur & Creative Director", "/")