.responsive-block
	.content-wrap
		h2.title-2 FAQs

	.faqs
		.content-wrap
			.row
				.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					h2 Frequently asked questions
					p Our team's always here to talk it out, just reach out by phone or email

			.row
				.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					.faq-question
						h4 What are your building hours? When are you open?
						p WeWork staff are generally onsite at each location between 9 AM – 6 PM local time Monday through Friday at all locations. For members with Hot Desks, Dedicated Desks, or Private Offices, your location is accessible by keycard 24/7.

					.faq-question
						h4 Can I add mail and package handling?
						p Mail and package handling is included for Dedicated Desk and Private Office plans. Hot Desk and We Membership plans offer this service à la carte at most buildings. Reach out to the local Community team at your desired location to find out more.

					.faq-question
						h4 Am I able to transfer to another WeWork location?
						p If the building of your choice has availability, we’re happy to work with you to organize a seamless move.

					.faq-question
						h4 Does WeWork give referral rewards?
						p Yes! Our 
							a(href="") referral program
							|  rewards WeWork members with 10% of the monthly Membership Fee of the member who signs up for up to one year. This applies only to Dedicated Desk and Private Office membership plans. There are no limits to the number of referral rewards a member may earn.

					.faq-question
						h4 Are your memberships really month-to-month?
						p Yes! Our flexible month-to-month commitment provides you with the stability of an office along with the flexibility you need to grow your business. WeWork also offers longer term commitments; call us at 
							a(href="") +1 (888) 977-4184
							|  or email us at 
							a(href="") joinus@wework.com
							|  for more information.