.content-wrap
	.responsive-block
		h2.title-2 Image + caption

		.image-caption
			.image(style="background-image: url('https://locations-api-production.imgix.net/locations/image/b2564206-37fd-11e6-8bc6-0a488af3e541/chelsea-coworking-23.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=entropy&fit=crop&w=1400&h=800');")
			.caption
				p WeWork Chelsea
				p New York, New York