// ---------------
// Cross Sells
// ---------------

.cross-sell {
	background: white;
	border: 1px solid $gray-35;
	display: block;
	box-shadow: 0 2px 26px rgba($black-50, 0);
	transition: box-shadow 600ms;

	&:hover {
		box-shadow: 0 2px 26px rgba($black-50, 0.03);
	}

	.img {
		background: $black-50 no-repeat center;
		background-size: cover;
		height: 200px;
	}

	.text-container {
		padding: 15px 20px 10px;

		h3 {
			@extend .title-3;
		}

		p {
			@extend .copy-4;
		}
	}
}

.cross-sell-container {
	margin: $spacer-xs 0 0;

	@media (min-width: $screen-sm-min) {
		margin: $spacer-sm 0 0;
	}

	@media (min-width: $screen-md-min) {
		margin: $spacer-md 0 0;
	}

	@media (min-width: $screen-lg-min) {
		margin: $spacer-lg 0 0;
	}
	
	.col-xs-12.col-sm-6.col-md-4 {
		&:nth-of-type(3), &:nth-of-type(2) {
			display: none;
		}

		@media (min-width: $screen-sm-min) {
			&:nth-of-type(2) {
				display: block;
			}
		}

		@media (min-width: $screen-md-min) {
			&:nth-of-type(3) {
				display: block;
			}
		}
	}
}