// ---------------
// FAQs
// ---------------


.faq-question {
	@extend .block-white;
	border: 1px solid $bg-5;
	padding: $spacer-xs;

	h4 {
		@extend .title-3;
	}

	p {
		@extend .copy-2;
	}

	&:not(:last-of-type) {
		margin-bottom: $spacer-xs;
	}
}