// ---------------
// Image + Caption
// ---------------

.image-caption {
	position: relative;

	.image {
		background: $black-50 no-repeat center / cover;
		width: calc(100% + 40px);
		margin-left: -20px;
		height: 200px;
			
		@media (min-width: $screen-sm-min) {
			height: 300px;
		}

		@media (min-width: $screen-md-min) {
			height: 400px;
			width: calc(100% + 400px);
			margin-left: -200px;
		}

		@media (min-width: $screen-lg-min) {
			height: 500px;
		}
	}

	.caption {
		display: block;
		background: $black-50;
		color: $white;
		padding: 10px 20px;
		width: calc(100% + 40px);
		margin-left: -20px;

		p {
			@extend .copy-4;
			margin: 0;

			&:first-of-type {
				@extend .text-medium;
			}
		}

		@media (min-width: $screen-md-min) {
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: auto;
			padding: 10px 60px 10px 30px;
			margin: 0;
		}
	}
}