// ---------------
// Masthead 1
// ---------------

.masthead-1 {
	@extend .responsive-block;
	padding-bottom: 0;
	overflow-x: hidden;

	h1 {
		@extend .impact-2;
	}

	p {
		@extend .copy-1;

		&:last-of-type {
			margin: 0;
		}
	}

	.image-caption {
		margin-top: $spacer-xs;

		@media (min-width: $screen-sm-min) {
			margin-top: $spacer-sm;
		}

		@media (min-width: $screen-md-min) {
			margin-top: $spacer-md;
		}

		@media (min-width: $screen-lg-min) {
			margin-top: $spacer-lg;
		}
	}
}


// ---------------
// Masthead 2
// ---------------

.masthead-2 {
	position: relative;

	h1 {
		@extend .impact-1;
	}

	p {
		@extend .copy-1;

		&:last-of-type {
			margin-bottom: 0px;
		}
	}

	.col-xs-12.col-md-6.col-lg-5 {
		background: $white;
		z-index: 10;
		position: relative;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: $spacer-md;
			z-index: 10;
			background: $white;
		}

		&:before {
			left: -1 * $spacer-md;
		}

		&:after {
			right: -1 * $spacer-md;
		}
	}

	.text-container {
		padding: $spacer-sm 0 0; 
		
		@media (min-width: $screen-md-min) {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			padding: 0 0 $spacer-sm; 
		}
	}

	.image-1 {
		background: $black-50 no-repeat center;
		background-size: cover;
		width: calc(100% + 40px);
		height: 200px;
		margin-left: -20px;

		@media (min-width: $screen-md-min) {
			width: calc(100% + 200px);
			margin: 0 0 0 -200px;
			height: 100%;
			min-height: 500px;
		}
	}

	.image-2 {
		background: $black-50 no-repeat center;
		background-size: cover;
		height: 100%;
		display: none;

		@media (min-width: $screen-md-min) {
			display: block;
			width: calc(100% + 200px);
			margin: 0 -200px 0 0;
			height: 100%;
			min-height: 500px;
		}
	}
}


// ---------------
// Masthead 3
// ---------------

.masthead-3 {
	@extend .responsive-block;
	padding-bottom: 0;
	overflow-x: hidden;
	text-align: center;

	h1 {
		@extend .title-0;
	}

	p {
		@extend .copy-1;
	}

	.btn {
		margin: 0 0 $spacer-xs;

		@media (min-width: $screen-sm-min) {
			margin: 0 0 $spacer-sm;
		}

		@media (min-width: $screen-md-min) {
			margin: 0 0 $spacer-md;
		}

		@media (min-width: $screen-lg-min) {
			margin: 0 0 $spacer-lg;
		}
	}

	.image-caption {
		.image {
			@media (min-width: $screen-md-min) {
				width: 100%;
				margin: 0;
			}
		}

		.caption {
			text-align: left;
		}
	}
}


// ---------------
// Masthead 4
// ---------------

.masthead-4 {
	overflow-x: hidden;

	@media (min-width: $screen-md-min) {
		.row {
			.col-xs-12.col-md-6 {
				align-self: stretch;
			}
		}
	}

	.image {
		background: $black-50 no-repeat center / cover;
		width: calc(100% + 40px);
		height: 200px;
		margin-left: -20px;

		@media (min-width: $screen-sm-min) {
			height: 300px;
		}

		@media (min-width: $screen-md-min) {
			width: calc(100% + 200px);
			margin: 0 0 0 -200px;
			height: 100%;
			min-height: 500px;
		}
	}

	.text-container {
		position: relative;
		z-index: 1;
		padding: $spacer-sm 0 0; 

		@media (min-width: $screen-md-min) {
			padding: $spacer-xl 0 $spacer-xs; 
		}
		
		h1 {
			@extend .impact-1;
			margin: 0 0 10px;
			z-index: 10;

			@media (min-width: $screen-md-min) {
				font-size: 120px;
				line-height: 100px;
			}
		}

		p {
			@extend .copy-1;
			position: relative;
			margin: 0;

			&:after {
				content: "";
				position: absolute;
				top: -1 * $spacer-md;
				right: -200px;
				bottom: -1 * $spacer-xs;
				left: -1 * $spacer-md;
				background: rgba($yellow-50, 0.2);
				z-index: -1;

				@media (min-width: $screen-md-min) {
					top: -1 * $spacer-xl;
				}
			}
		}
	}
}