// ---------------
// Masthead 1
// ---------------

.masthead-1 {
	@extend .responsive-block;
	padding-bottom: 0;

	h1 {
		@extend .impact-2;
	}

	p {
		@extend .copy-1;

		&:last-of-type {
			margin: 0;
		}
	}

	.image-caption {
		margin-top: $spacer-xs;

		@media (min-width: $screen-sm-min) {
			margin-top: $spacer-sm;
		}

		@media (min-width: $screen-md-min) {
			margin-top: $spacer-md;
		}

		@media (min-width: $screen-lg-min) {
			margin-top: $spacer-lg;
		}
	}
}


// ---------------
// Masthead 2
// ---------------

.masthead-2 {
	position: relative;
	@extend .responsive-block;
	padding-bottom: 0;

	@media (min-width: $screen-md-min) {
		min-height: 500px;
	}

	.row {
		z-index: 20;
		position: relative;
	}

	h1 {
		@extend .impact-1;
		z-index: 10;

		@media (min-width: $screen-md-min) {
			font-size: 120px;
			line-height: 100px;
		}
	}

	p {
		@extend .copy-1;
		position: relative;
		background: rgba(#FEE3D6, 0.5);
		padding: 70px 20px 50px 90px;
		margin: -70px 0 0 -90px;
	}

	.image {
		background: $black-50 no-repeat center / cover;
		width: 100%;
		height: 200px;
		z-index: 10;
		margin: 5px 0 0;

		@media (min-width: $screen-sm-min) {
			height: 300px;
		}

		@media (min-width: $screen-md-min) {
			position: absolute;
			top: 0;
			right: calc(50% + 90px);
			left: 0;
			bottom: 0;
			width: auto;
			margin: 0;
			height: auto;
		}
	}
}


// ---------------
// Masthead 3
// ---------------

.masthead-3 {
	position: relative;

	h1 {
		@extend .impact-1;
	}

	p {
		@extend .copy-1;

		&:last-of-type {
			margin-bottom: 0px;
		}
	}

	.col-xs-12 {
		background: $white;
		padding-top: 150px;
		padding-bottom: 50px;
		z-index: 10;
		position: relative;

		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			width: 45px;
			z-index: 10;
			background: $white;
		}

		&:before {
			left: -45px;
		}

		&:after {
			right: -45px;
		}
	}

	.image-1 {
		background-color: $black-50;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 30vw;
		border: 10px solid white;

	}

	.image-2 {
		background-color: $black-50;
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 70vw;
		border: 10px solid white;
	}
}