// ---------------
// Plan Card
// ---------------

.plan-card {
	background: $white;
	border: 1px solid $gray-35;
	height:  calc(100% - 20px);
	display: flex;
	flex-direction: column;
	margin: 0 0 20px;

	.image {
		background: $black-50 no-repeat center;
		background-size: cover;
		height: 200px;
	}

	.info-container {
		padding: $spacer-xs;
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.text-container {
			flex-grow: 1;
			
			h3 {
				@extend .title-2;
			}

			h4 {
				@extend .title-4;
			}

			p {
				@extend .copy-3;
			}
		}

		.btn {
			margin-top: $spacer-xs;	
		}
	}
}

.plan-card-container {
	margin: $spacer-xs 0 0;

	@media (min-width: $screen-sm-min) {
		margin: $spacer-sm 0 0;
	}

	@media (min-width: $screen-md-min) {
		margin: $spacer-md 0 0;
	}

	@media (min-width: $screen-lg-min) {
		margin: $spacer-lg 0 0;
	}
}