// ---------------
// Testimonials
// ---------------

.testimonial {
	background: $white;
	border: 1px solid $gray-35;
	padding: 40px 20px 20px;
	text-align: center;
	height: 100%;

	.avatar {
		width: 150px;
		height: 150px;
		background: $black-50 no-repeat center;
		background-size: cover;
		border-radius: 50%;
		margin: 0 auto 20px;
	}

	p.quote {
		@extend .copy-2;
	}

	p.name {
		@extend .copy-3;
		@extend .text-medium;
	}
}

.testimonial-container {
	.col-xs-12.col-sm-6.col-md-4.col-lg-3 {
		&:nth-of-type(4), &:nth-of-type(3), &:nth-of-type(2) {
			display: none;
		}

		@media (min-width: $screen-sm-min) {
			&:nth-of-type(2) {
				display: block;
			}
		}

		@media (min-width: $screen-md-min) {
			&:nth-of-type(3) {
				display: block;
			}
		}

		@media (min-width: $screen-lg-min) {
			&:nth-of-type(4) {
				display: block;
			}
		}
	}
}