// Core
@import "_variables";
@import "_blocks";

@import "_header";

// Components
@import "_text-styles";
@import "_budicon";
@import "_buttons";
@import "_inputs";

// Patterns
@import "_image-caption";
@import "_masthead";
@import "_breadcrumbs";
@import "_image-text";
@import "_breakout-image";
@import "_breakout-quote";
@import "_case-studies";
@import "_cross-sells";
@import "_faqs";
@import "_form";
@import "_image-collage";


// ------------------------------------------------------------------------------------------


// ---------------
// Base
// ---------------

html {
  background: $bg-3;
}

body {
  font-family: $apercu;
  font-size: 16px;
  background: $white;
  color: $black-50;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.content-wrap {
  width: calc(100vw - 40px);
  max-width: 1200px;
  margin: 0 auto;
}

hr {
  outline: none;
  border: none;
  height: 1px;
  background: $bg-5;
  margin: 40px 0;
}