include ../partials/breadcrumbs.jade
include ../partials/masthead.jade
include ../partials/image-text.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/events", title: "Events"})

+masthead-2("WeWork Events", "Our events are an integral part of the WeWork experience. They are a chance for you to learn, speak, network, get inspired and get reinvigorated for the challenging road ahead.", "https://cloudinary.wework.com/wework/image/upload/s--qmF57JAp--/q_jpegmini/v1428082486/wework.com/events/halloween.jpg", "https://cloudinary.wework.com/wework/image/upload/c_fill,h_640,w_640/v1428939978/events/20140823_Summer_Camp_-_Girl_Talk-22.jpg")

.responsive-block
	.content-wrap
		.row
			.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				h2.title-1 Host Your Event at WeWork
				p.copy-2 Want some feedback on your app? Ready to launch your product? Want to teach a class or host a workshop? Or perhaps you're just ready to celebrate something? Our members are welcome to host an event in one of our flexible event spaces.
				a.btn.btn--primary-navigation(href="/events/host-event") Host Your Event

+large-image-text("", "", "", "", "https://cdn.wework.com/6vy33zo2mgy3/3rVd7oNGkoCoiaO4YgucYW/e9d4c49713ac5d021c1102c97b8bf482/Soho.jpg", "WeWork SoHo", "New York City, New York")

.responsive-block
	.content-wrap
		.row
			.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
				h2.title-1 Events Around the World
				p.copy-2 Below are just some of the events we have at our WeWork locations around the world.