include ../../partials/breadcrumbs.jade
include ../../partials/image-caption.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/image-caption", title: "Image + Caption"})

.content-wrap
	.responsive-block
		h2.title-1 Image + Caption

		+image-caption("https://locations-api-production.imgix.net/locations/image/b2564206-37fd-11e6-8bc6-0a488af3e541/chelsea-coworking-23.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=entropy&fit=crop&w=1400&h=800", "WeWork Chelsea", "New York City, New York")