.content-wrap
	.responsive-block
		.block-xs: button.btn.btn--primary-action Primary action button
		.block-xs: button.btn.btn--primary-cancel Primary cancel button
		.block-xs: button.btn.btn--primary-navigation Primary navigation button
		.block-xs.block-black-50: button.btn.btn--primary-light Primary light button
		.block-xs: button(disabled).btn.btn--primary-disabled Primary disabled button

		hr

		.block-xs: button.btn.btn--secondary-action Secondary action button
		.block-xs: button.btn.btn--secondary-navigation Secondary navigation button
		.block-xs.block-black-50: button.btn.btn--secondary-light Secondary light button
		.block-xs: button(disabled).btn.btn--secondary-disabled Secondary disabled button
		.block-xs.block-black-50: button(disabled).btn.btn--secondary-light-disabled Secondary light disabled button

		hr
			
		.block-xs: button.btn.btn--tertiary-navigation Tertiary navigation button
		.block-xs.block-black-50: button.btn.btn--tertiary-light Tertiary light button
		.block-xs: button(disabled).btn.btn--tertiary-disabled Tertiary disabled button
		.block-xs.block-black-50: button(disabled).btn.btn--tertiary-light-disabled Tertiary light disabled button