.content-wrap
	.responsive-block
		h1.knockout Knockout
		
		hr

		h1.title-0 Title 0
		h2.title-1 Title 1
		h2.title-2 Title 2
		h3.title-3 Title 3
		h4.title-4 Title 4

		hr

		p.copy-1 Copy 1
		p.copy-2 Copy 2
		p.copy-3 Copy 3
		p.copy-4 Copy 4

		hr

		ul.bulleted-list
			li List item
			li List item
			li List item

		ul.bulleted-list.bulleted-link-list
			li: a(href="") List item
			li: a(href="") List item
			li: a(href="") List item

		hr

		figure
			blockquote
				p If our workspaces don’t meet your needs, we will work with you to find a space that does

			figcaption
				cite &mdash; Dave Fano, Chief Product Officer, WeWork

		//- copied markup spec from here https://coderwall.com/p/tvkd9w/best-semantic-markup-for-a-blockquote