.content-wrap
	.responsive-block
		h2.title-2 Components
		ul.bulleted-list.bulleted-link-list
			li: a(href="/text-styles") Text styles
			li: a(href="/buttons") Buttons

		h2.title-2 Patterns
		ul.bulleted-list.bulleted-link-list
			li: a(href="/patterns/image-caption") Image + caption
			li: a(href="/patterns/masthead") Masthead
			li: a(href="/patterns/simple-text") Simple text
			li: a(href="/patterns/faqs") FAQs