include ../../partials/breadcrumbs.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/breadcrumbs", title: "Breadcrumbs"})

.responsive-block
	.content-wrap
		h2.title-1 Breadcrumbs

	+breadcrumbs({link: "", title: "Home"}, {link: "", title: "Style Guide"}, {link: "", title: "Breadcrumbs"})