include ../../partials/breadcrumbs.jade
include ../../partials/masthead.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/masthead", title: "Masthead"})

.responsive-block
	.content-wrap
		h2.title-1 Masthead #1

	+masthead-1("Reimagine your workspace", "This is our craft. In over 50 cities, our architects, designers, and culture-catalysts are creating spaces to reimagine employees' days, from satellite offices to swing spaces and branded HQs.", "https://locations-api-production.imgix.net/locations/image/4f6fd5d6-0899-11e7-9462-0a488af3e541/WeWork_Weihai-final-large-3.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=entropy&fit=crop&w=1800&h=800", "WeWork Weihai Lu", "Shanghai, China")

.responsive-block
	.content-wrap
		h2.title-1 Masthead #2
	
	+masthead-2("Why WeWork", "Workspace, community, and services for a global network of creators.", "https://cdn.wework.com/6vy33zo2mgy3/3PYfigapby6GySkWmCiw0U/584a41ca2c2ec680ddcd4bcf550773f9/c643b8a57d10f74b5c39bee4ec4e27056e20784e.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=400", "https://cdn.wework.com/6vy33zo2mgy3/2aojdcZgXWW2CiqqWcoIAu/0c090e6bbece9d41c49ad7e64ba1099c/869bbe964795339540aea2f1bdd8b359.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=1000&h=500")

.responsive-block
	.content-wrap
		h2.title-1 Masthead #3

	+masthead-3("Sit where you like and connect with your local community", "Just bring your laptop, pick an open seat, and get to work.", "https://images.contentful.com/6vy33zo2mgy3/54LGXqAOhW4Cy2g2gWG68O/47fd56038698ac4bb98c00ec9a878246/wework-promenade.jpg", "WeWork Moorgate", "London, United Kingdom", "Learn more", "/")

.responsive-block
	.content-wrap
		h2.title-1 Masthead #4
	
	+masthead-4("Host Your Event", "Our vibrant, thoughtfully-designed spaces are fully equipped and ready to book for your next public or private gathering.", "https://cdn.wework.com/6vy33zo2mgy3/3ftLyhI1jW8m0ke0EAOWc8/bb167bff1aebd8bc0baa49f12a9f4225/rsz_img_9100.jpg")