include ../../partials/breadcrumbs.jade
include ../../partials/image-collage.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/image-collage", title: "Image Collage"})

.responsive-block
	.content-wrap
		h2.title-1 Image Collage

	+image-collage("Create Your Life's Work", "https://cdn.wework.com/6vy33zo2mgy3/6GqoXBT5ssiE84SE6QW8ui/2a45234814e13f97dcd32feef7e142b4/mission-comm-T.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=1600&h=600", "Founders", "Miguel McKelvey, Adam Neumann, Rebekah Neumann", "https://cdn.wework.com/6vy33zo2mgy3/4NsqPjdaJG2WcWgwGQ6ka6/51dd30d8525fab81ae95141a44d4dbe6/summercamp-mission-yoga.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=800&h=600", "Summer Camp 2015", "Annual Member and Employee Retreat in the Adirondacks", "https://cdn.wework.com/6vy33zo2mgy3/Elq3rxqazYOsuUisSaAUk/5b2105a609a8b254e8e5baf48383ceee/mission-comm-R.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=800&h=600", "Global Summit 2016", "All-hands employee gathering")