include ../partials/breadcrumbs.jade
include ../partials/masthead.jade
include ../partials/image-text.jade
include ../partials/cross-sell.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/locations", title: "All Locations"})

.content-wrap
	+masthead-2("All Locations", "287 Office Locations · 59 Cities", "https://cdn.wework.com/6vy33zo2mgy3/3PYfigapby6GySkWmCiw0U/584a41ca2c2ec680ddcd4bcf550773f9/c643b8a57d10f74b5c39bee4ec4e27056e20784e.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=400", "https://cdn.wework.com/6vy33zo2mgy3/2aojdcZgXWW2CiqqWcoIAu/0c090e6bbece9d41c49ad7e64ba1099c/869bbe964795339540aea2f1bdd8b359.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=1000&h=500")

	.responsive-block
		.row
			.col-xs-12.col-md-8.col-lg-4
				h3.title-3 United States
				.row
					.col-xs-6
						ul.bulleted-list.bulleted-link-list
							li: a(href="/locations/atlanta") Atlanta
							li: a(href="/locations/austin") Austin
							li: a(href="/locations/boston") Boston
							li: a(href="/locations/charlotte") Charlotte
							li: a(href="/locations/chicago") Chicago
							li: a(href="/locations/dallas-fort-worth") Dallas - Fort Worth
							li: a(href="/locations/denver") Denver
							li: a(href="/locations/detroit") Detroit
							li: a(href="/locations/houston") Houston
							li: a(href="/locations/kansas-city") Kansas City
							li: a(href="/locations/los") Los Angeles
							li: a(href="/locations/miami") Miami

					.col-xs-6
						ul.bulleted-list.bulleted-link-list
							li: a(href="/locations/minneapolis") Minneapolis
							li: a(href="/locations/nashville") Nashville
							li: a(href="/locations/new-york-city") New York City
							li: a(href="/locations/orange-county") Orange County
							li: a(href="/locations/philadelphia") Philadelphia
							li: a(href="/locations/portland") Portland
							li: a(href="/locations/raleigh-durham") Raleigh-Durham
							li: a(href="/locations/sf-bay-area") SF Bay Area
							li: a(href="/locations/san") San Diego
							li: a(href="/locations/seattle") Seattle
							li: a(href="/locations/washington-dc") Washington, D.C.

			.col-xs-6.col-md-4.col-lg-2
				h3.title-3 Argentina
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/buenos-aires") Buenos Aires

				h3.title-3 Australia
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/melbourne") Melbourne
					li: a(href="/locations/sydney") Sydney

				h3.title-3 Brazil
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/rio-de-janeiro") Rio de Janeiro
					li: a(href="/locations/sao-paulo") São Paulo

				h3.title-3 Canada
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/montreal") Montreal
					li: a(href="/locations/toronto") Toronto
					li: a(href="/locations/vancouver") Vancouver

				h3.title-3 China
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/beijing") Beijing
					li: a(href="/locations/hong-kong") Hong Kong
					li: a(href="/locations/shanghai") Shanghai

			.col-xs-6.col-md-4.col-lg-2
				h3.title-3 Colombia
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/bogota") Bogotá

				h3.title-3 France
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/paris") Paris

				h3.title-3 Germany
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/berlin") Berlin
					li: a(href="/locations/frankfurt") Frankfurt
					li: a(href="/locations/hamburg") Hamburg
					li: a(href="/locations/munich") Munich

				h3.title-3 India
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/bengaluru") Bengaluru
					li: a(href="/locations/delhi-ncr") Delhi NCR
					li: a(href="/locations/mumbai") Mumbai

				h3.title-3 Ireland
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/dublin") Dublin

			.col-xs-6.col-md-4.col-lg-2
				h3.title-3 Israel
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/be-er-sheva") Be'er Sheva
					li: a(href="/locations/haifa") Haifa
					li: a(href="/locations/herzliya") Herzliya
					li: a(href="/locations/jerusalem") Jerusalem
					li: a(href="/locations/tel-aviv") Tel Aviv

				h3.title-3 Japan
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/tokyo") Tokyo

				h3.title-3 Mexico City
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/mexico-city") Mexico City

				h3.title-3 Netherlands
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/amsterdam") Amsterdam

				h3.title-3 Peru
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/lima") Lima

			.col-xs-6.col-md-4.col-lg-2
				h3.title-3 Singapore
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/singapore") Singapore

				h3.title-3 South Korea
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/seoul") Seoul

				h3.title-3 Spain
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/barcelona") Barcelona
					li: a(href="/locations/madric") Madric

				h3.title-3 United Kingdom
				ul.bulleted-list.bulleted-link-list
					li: a(href="/locations/london") London
					li: a(href="/locations/manchester") Manchester

	+small-image-text-right("The Most Inspiring Office Space", "WeWork members – from freelancers to startups to innovative enterprises – value inspiration and collaboration, and our coworking spaces are designed to foster these features. Grow your business or pursue your own creative projects in our beautiful shared office spaces, located in major cities across the world.", "", "", "https://cdn.wework.com/6vy33zo2mgy3/5uDhFC5iG4kWOmCEI6MOCc/f35ea0899790e7e525c3fae4291c19b9/20160406_Williamsburg_Common_Areas-1.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=1000&h=500", "WeWork Williamsburg", "New York City, New York")

	+large-image-text("Art-Infused Buildings", "Our spaces are built with custom murals to bring soul and cultural vibe to our spaces.", "", "", "https://cdn.wework.com/6vy33zo2mgy3/7bl2vJhDTUkU64gqMEICuK/e71bc0fe715161ef4872ecd8fcb098d8/his_airness.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=1200&h=600", "WeWork River North", "Chicago, Illinois")

	.responsive-block
		h2.title-2 Work With Your Best Friend
		p.copy-2 We love working alongside our furry friends. Many WeWork Office locations are pet friendly.
		.row.cross-sell-container
			.col-xs-12.col-sm-6.col-md-4
				+cross-sell("https://cdn.wework.com/6vy33zo2mgy3/31oYnROOD62kM2G6YCWGki/fb2382b68e5e7072126f851468968e21/AllLocations-dog-dumbo.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=200", "WeWork Dumbo Heights", "Brooklyn, New York", "View Workspace", "/locations/new-york-city/dummo-height")
			.col-xs-12.col-sm-6.col-md-4
				+cross-sell(" https://cdn.wework.com/6vy33zo2mgy3/4JM0BXf9KEgaMqKKAuiUqE/68671b2c7bc52b36104a1603e94888a3/AllLocations-dog-wonderbread.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=200", "WeWork Wonder Bread Factory", "Washington, D.C.", "View Workspace", "/locations/washington-dc/wonder-bread-factory")
			.col-xs-12.col-sm-6.col-md-4
				+cross-sell("https://cdn.wework.com/6vy33zo2mgy3/3zHR4GkcrC2mA46sws2Aqy/5e2ed2544f76df0994a1f452fc703d92/AllLocations-dog-promenade.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=200", "WeWork Promenade", "Los Angeles, California", "View Workspace", "/locations/los-angeles/promenade")


