include ../../partials/breadcrumbs.jade
include ../../partials/video.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/video", title: "Video"})

.responsive-block
	.content-wrap
		h2.title-1 Video

		+video("What is WeWork?", "There's more to WeWork than just beautiful office spaces. Schedule a tour to find out how we can grow your business: wework.com.", "So8n0C2-PFo")