.content-wrap
	.responsive-block
		h2.title-2 Simple text 1

		.simple-text-1
			.row
				.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					h2 Our story
					p When we started WeWork in 2010, we wanted to build more than beautiful, shared office spaces. We wanted to build a community. A place you join as an individual, 'me', but where you become part of a greater 'we'. A place where we’re redefining success measured by personal fulfillment, not just the bottom line. Community is our catalyst.

	.responsive-block
		h2.title-2 Simple text 2

		.simple-text-2
			.row
				.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					h2 Community
					p Whether it's getting feedback on your product in real time, asking for a recommendation on a service provider, or simply grabbing a beer after work, the power of our community is invaluable.
					h3 Connect, learn and grow
					p Events are an essential part of the WeWork experience. From regularly scheduled office hours with venture capitalists or other industry professionals, to tequila tasting happy hours with the whole community, we know how to work, and we know how to have fun. There are events, both social and professional, happening every day to help you build and maintain a strong team culture. RSVP at anytime to any event on the Member Network or WeWork app.
					button.btn--primary-navigation See our events