include ../../partials/breadcrumbs.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/styles", title: "Inputs"})

.content-wrap
	.responsive-block
		.row
			.col-xs-12
				label(for="name") Name
					input(type="text" id="name" name="name" placeholder="Your full name")

			.col-xs-12
				label(for="email") Email
					input(type="email" id="email" name="email" placeholder="Best email to contact you")

			.col-xs-12
				label(for="password") Password
					input(type="password" id="password" name="password" placeholder="Keep it secure")

			.col-xs-12
				label(for="phone") Phone
					input(type="tel" id="phone" name="phone" placeholder="(XXX) XXX-XXXX")

			.col-xs-12
				label.label--date(for="date") Date
					input(type="date" id="date" name="date" placeholder="When is good for you?")
					i.bi_interface-calendar

			.col-xs-12
				label.label--dropdown(for="dropdown") Dropdown
					select(id="dropdown" name="dropdown")
						option Please select...
						option(value="Option 1") Option 1
						option(value="Option 2") Option 2
						option(value="Option 3") Option 3
					i.bi_interface-bottom

			.col-xs-12
				label(for="textarea") Textarea
					textarea(id="textarea" name="textarea" placeholder="Anything else?")

			.col-xs-12
				label Radio Inputs
					label.label--radio-checkbox(for='radio-example-1') WeWork Chelsea
						input#radio-example-1(type='radio', name='radio-example', value='wework-chelsea')
					label.label--radio-checkbox(for='radio-example-2') WeWork Tower 49
						input#radio-example-2(type='radio', name='radio-example', value='wework-tower-49')
					label.label--radio-checkbox(for='radio-example-3') WeWork South Willamsburg
						input#radio-example-3(type='radio', name='radio-example', value='wework-south-williamsburg')

			.col-xs-12
				label Checkboxes
					label.label--radio-checkbox(for='checkbox-example-1') WeWork Chelsea
						input#checkbox-example-1(type='checkbox', name='checkbox-example', value='wework-chelsea')
					label.label--radio-checkbox(for='checkbox-example-2') WeWork Tower 49
						input#checkbox-example-2(type='checkbox', name='checkbox-example', value='wework-tower-49')
					label.label--radio-checkbox(for='checkbox-example-3') WeWork South Willamsburg
						input#checkbox-example-3(type='checkbox', name='checkbox-example', value='wework-south-williamsburg')

			.col-xs-12
				label Toggle
					.toggle-group
						label.label--toggle(for='toggle-example-1') 1–19
							input#toggle-example-1(type='radio', name='toggle-example', value='1–19')
						label.label--toggle(for='toggle-example-2') 20–99
							input#toggle-example-2(type='radio', name='toggle-example', value='20–99')
						label.label--toggle(for='toggle-example-3') 100–999
							input#toggle-example-3(type='radio', name='toggle-example', value='100–999')
						label.label--toggle(for='toggle-example-3') 1000+
							input#toggle-example-3(type='radio', name='toggle-example', value='1000+')