mixin breakout-quote(quote, author)
	.breakout-quote
		.content-wrap
			.row
				.col-xs-12.quote-bg
					.row
						.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
							h1= quote
							if author
								p &mdash; 
									span= author