mixin cross-sell(img, headline, copy, buttonCopy, buttonLink)
	a.cross-sell(href=buttonLink)
		.img(style="background-image: url('" + img + "');")
		.text-container
			h3= headline
			p= copy
			.btn.btn--tertiary-navigation(href=buttonLink)= buttonCopy