.responsive-block
	.content-wrap
		h2.title-2 Masthead 1

	.masthead-1
		.content-wrap
			.row
				.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					h1 Reimagine your workspace
					p This is our craft. In over 50 cities, our architects, designers, and culture-catalysts are creating spaces to reimagine employees' days, from satellite offices to swing spaces and branded HQs.
			
			.image-caption
				.image(style="background-image: url('https://locations-api-production.imgix.net/locations/image/4f6fd5d6-0899-11e7-9462-0a488af3e541/WeWork_Weihai-final-large-3.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=entropy&fit=crop&w=1800&h=800');")
				.caption
					p WeWork Weihai Lu
					p Shanghai, China

.responsive-block
	.content-wrap
		h2.title-2 Masthead 2
	
	.masthead-2
		.content-wrap
			.row
				.col-xs-12.col-md-6.col-md-offset-6
					h1 Why WeWork
					p Workspace, community, and services for a global network of creators.

		.image(style="background-image: url('https://locations-api-production.imgix.net/locations/image/4f6fd5d6-0899-11e7-9462-0a488af3e541/WeWork_Weihai-final-large-3.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=entropy&fit=crop&w=1800&h=800');")

.responsive-block
	.content-wrap
		h2.title-2 Masthead 3
	
	.masthead-3
		.image-1(style="background-image: url('https://cdn.wework.com/6vy33zo2mgy3/3PYfigapby6GySkWmCiw0U/584a41ca2c2ec680ddcd4bcf550773f9/c643b8a57d10f74b5c39bee4ec4e27056e20784e.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=400');")
		.image-2(style="background-image: url('https://locations-api-production.imgix.net/locations/image/4f6fd5d6-0899-11e7-9462-0a488af3e541/WeWork_Weihai-final-large-3.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=entropy&fit=crop&w=1800&h=800');")

		.content-wrap
			.row
				.col-xs-12.col-md-6.col-md-offset-1.col-lg-5.col-lg-offset-2
					h1 Why WeWork
					p Workspace, community, and services for a global network of creators.

.responsive-block
	.simple-text-2
		.content-wrap
			.row
				.col-xs-12.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
					h2 Community
					p Whether it's getting feedback on your product in real time, asking for a recommendation on a service provider, or simply grabbing a beer after work, the power of our community is invaluable.
					h3 Connect, learn and grow
					p Events are an essential part of the WeWork experience. From regularly scheduled office hours with venture capitalists or other industry professionals, to tequila tasting happy hours with the whole community, we know how to work, and we know how to have fun. There are events, both social and professional, happening every day to help you build and maintain a strong team culture. RSVP at anytime to any event on the Member Network or WeWork app.
					button.btn--primary-navigation See our events