include ../../partials/breadcrumbs.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/buttons", title: "Buttons"})

.content-wrap
	.responsive-block
		.block-xs: button.btn.btn--primary-action Primary Action Button
		.block-xs: button.btn.btn--primary-cancel Primary Cancel Button
		.block-xs: button.btn.btn--primary-navigation Primary Navigation Button
		.block-xs.block-black-50: button.btn.btn--primary-light Primary Light Button
		.block-xs: button(disabled).btn.btn--primary-disabled Primary Disabled Button

		hr

		.block-xs: button.btn.btn--secondary-action Secondary Action Button
		.block-xs: button.btn.btn--secondary-navigation Secondary Navigation Button
		.block-xs.block-black-50: button.btn.btn--secondary-light Secondary Light Button
		.block-xs: button(disabled).btn.btn--secondary-disabled Secondary Disabled Button
		.block-xs.block-black-50: button(disabled).btn.btn--secondary-light-disabled Secondary Light Disabled Button

		hr
			
		.block-xs: button.btn.btn--tertiary-navigation Tertiary Navigation Button
		.block-xs.block-black-50: button.btn.btn--tertiary-light Tertiary Light Button
		.block-xs: button(disabled).btn.btn--tertiary-disabled Tertiary Disabled Button
		.block-xs.block-black-50: button(disabled).btn.btn--tertiary-light-disabled Tertiary Light Disabled Button