include ../../partials/breadcrumbs.jade
include ../../partials/image-text.jade

+breadcrumbs({link: "/", title: "Home"}, {link: "/style-guide", title: "Style Guide"}, {link: "/style-guide/image-text", title: "Image + Text"})

.content-wrap
	.responsive-block
		h2.title-1 Large Image + Text
		+large-image-text("WeWork Enterprise", "Office solutions for forward-thinking corporations. From a 500-person HQ to a one-person satellite, WeWork creates a custom workplace experience that eliminates hassle, inspires employees, and fosters a culture that attracts top talent.", "Learn More", "/", "https://locations-api-production.imgix.net/locations/image/b2564206-37fd-11e6-8bc6-0a488af3e541/chelsea-coworking-23.jpg?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=entropy&fit=crop&w=1400&h=800", "WeWork Chelsea", "New York City, New York")
	
	.responsive-block
		h2.title-1 Small Image + Text	
		+small-image-text-left("Workspace Is Our Craft", "Teams of artists, designers, and engineers custom build every space, prioritizing natural light, comfort, and inspiration.", "", "", "https://cdn.wework.com/6vy33zo2mgy3/3PYfigapby6GySkWmCiw0U/584a41ca2c2ec680ddcd4bcf550773f9/c643b8a57d10f74b5c39bee4ec4e27056e20784e.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=400", "WeWork Holyoke", "Seattle, Washington")
		+small-image-text-right("Practice Makes Perfect", "We’ve become experts in what you need to get work done happily—from brainstorming rooms to phone booths and terraces.", "See Our Plans", "/", "https://cdn.wework.com/6vy33zo2mgy3/ybtjJuCpRQEI8eo0QuUKS/22bc48ceeabaa39c9b373761233986d8/0abf1012fe638762f4355aeef26d133ac042a335.png?auto=format%2Ccompress&dpr=2&ch=DPR%2CWidth&crop=false&fit=crop&w=400&h=400", "WeWork Sony Center", "Berlin, Germany")