.content-wrap
	.responsive-block
		h2.title-2 Components
		ul.bulleted-list.bulleted-link-list
			li: a(href="/style-guide/buttons") Buttons
			li: a(href="/style-guide/inputs") Inputs
			li: a(href="/style-guide/text-styles") Text Styles

		h2.title-2 Pattern Library
		ul.bulleted-list.bulleted-link-list
			li: a(href="/style-guide/breadcrumbs") Breadcrumbs
			li: a(href="/style-guide/breakout-image") Breakout Image
			li: a(href="/style-guide/breakout-quote") Breakout Quote
			li: a(href="/style-guide/case-studies") Case Studies
			li: a(href="/style-guide/cross-sells") Cross Sells
			li: a(href="/style-guide/faqs") FAQs
			li: a(href="/style-guide/form") Form
			li: a(href="/style-guide/image-caption") Image + Caption
			li: a(href="/style-guide/image-text") Image + Text
			li: a(href="/style-guide/image-collage") Image Collage
			li: a(href="/style-guide/logo-grid") Logo Grid
			li: a(href="/style-guide/masthead") Masthead